#content{
    width:100%;
    height:fit-content;
    display:flex;
    margin:auto;
    
    
}

#section-category-list{
    width: max-content;
    min-width:5cm;
    height:100vh;
    margin-left:0%;
    background-color: #051E21;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    flex-shrink:0;
    overflow-x: hidden;
    justify-content: flex-start;
    border-right: 0.5px solid grey;
}


#section-catalogue{
    width:65%;
    height:100vh;
    min-width:20cm;
    display:grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows:auto;

    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;

    padding-top: 1vh;
    border:0.5px solid black;

    
}

.links-container{
    height:auto;
    width:100%;
    margin-top:1vh;
    
}

.catalogue-items{
    margin-top: 5vh;
    height:7cm;
    min-width: fit-content;
    min-height: fit-content;
    display:flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;
    background-color:white;
    padding:2px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    background-color: white;

   
}

.catalogue-items:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.596);
}

.catalogue-items-image-container{
    width:100%;
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
}

.catalogue-item-image{
    width:45px;
    height:60px;
    flex-shrink:0;
    display:flex
    
}

.catalogue-items-content-container{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 5px 14px 5px 14px;
    text-align:center;
    border:0.5px solid black; 
}

.quantity-select{
    width:fit-content;
    margin-left:1vw;
}

#catalogue-item-form{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-items-form-quantity-container{
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 0 1vh 0;


}

.catalogue-items-in-form-button-container{
    width:100%;
    height:auto ;
    display:flex;
    justify-content: center;
    align-items: center;

    margin:0 0 1vh 0;


}


#section-cart{
    width:20%;
    height:100vh;

    display:flex;
    flex-direction: column;

    align-self: flex-start;

    border-left:0.5px solid grey
}

#items-section{

    width:fit-content;
    height:80vh;
    background-color:white;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto;

    align-content: flex-start;

    padding-top: 2vh;

    background-color:rgba(255, 225, 181, .671);

    overflow-y:auto;
    overflow-x:hidden;

    

   
}


.cart-items{
    width:fit-content;
    height:auto;

    display:flex;
    justify-content: center;
    align-items: center;  

    border-radius: 5px;
    margin-bottom:1vh;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    background-color: white;

}

.cart-items-image-container{

    width: fit-content;

    /*
    width:20%;
    height: 100%;
*/
    display:flex;
    justify-content: center;
    align-items: center;

   

}

.cart-items-image-container img{
    width:80%;
    height:50%;

     
}

.cart-items-content-container{
    width:80%;
    height: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.cart-items-description{
    width:100%;
    height: 40%;

    
}

.cart-items-form{
    width:100%;
    height: 60%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   

}

.cart-items-description-container{
    margin-top:2vh;
    width:fit-content;
    height: auto;
    margin-left:2vw;
}
.cart-items-form-quantity-container{
    width:fit-content;
    height: auto;
}

.cart-items-form-button-container{

    width:100%;

    display:flex;
    justify-content: space-around;
    align-items: center;

    padding:1vh 0 1vh 0;

    margin-top: 1vh;

}

#completebutton{
    font-size:25px;
}

#button-section{
    width:100%;
    height:20vh;
    background-color: #051E21;
    display:flex;
    justify-content: center;
    align-items: center;  

    border:0.5px solid #051E21;
}

/* Accordion */
.accordion{
     width:8cm;
     height:auto;
}
.accordion-bttn{
    margin-left:0cm;
    display:block;
    width:100%;
    min-width: fit-content;
    flex-shrink:0;
    min-height:auto;
    height:8vh;
    border: 1px;
    outline: none;
    cursor: pointer;
    background-color:#051E21;
    color:white;
    text-align:left;
    /*transition: background 0.2s;*/
}

.accordion-bttn::after{
    content: '\25be';
    float: right;
    transform: scale (1.5);
}

.accordion-bttn--active{
    background-color: #00302D;
}

.accordion-bttn--active::after{
    content: '\25b4';
    float: right;
    transform: scale (1.5);
}

.accordion-content{
    overflow:hidden;
    max-height:0;
    transition:max-height 0.2s;
    background-color: rgba(243, 186, 101, 0.979);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(3, 77, 31);
    text-decoration: underline;
}

.droptext{
    color:black;
}

.menu-hover:hover{
    color:rgb(235, 152, 26);
    text-decoration: none;
}


.btn{
    border-radius: 10px;
    color:orange;
    background-color: black;
    border:none;
}

.btn:hover{
    color:black;
    border:7px;
    border-color: black;
    background-color:orange;
}

.add-cart-btn{
    border-radius: 10px;
    background-color:black;
    color:orange;
}

.add-cart-btn:hover{
    background-color:orange;
    color:black;
    border:5px;
    border-color:black;
}

.catalogue-items-in-form-button-container{
    border:none;
}

.catalogue-items-content-container{
    border:none;
}