*{
    box-sizing: border-box;
}

.change-password-modal-container{
    /*This is the background of the modal */

    position: fixed;

    display:flex;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    
    width:100vw;
    height:100vh;

    background-color: rgba(0,0,0,0.3);

    opacity:0;
    pointer-events:none;

    transition: opacity 0.5s ease;
}

.change-password-modal-container.show{
    pointer-events: auto;
    opacity:1;
}

#change-password-modal{
     /*This is the content of the modal */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background-color: #fff;

    max-width:100%;
    min-width:80%;
    height:auto;

    padding: 5vh 0 5vh 0;

    border-radius:5px;
}

#change-password-content-container{
  width:80%;
  height:50vh; 

  border:0.5px solid black;

  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto;
  align-content: flex-start;

  overflow-y:auto;
  overflow-x:hidden;

}

#change-password-button-container{
    width:20%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    border:0.5px solid black;

}
