#content{
    width:100vw;
    height: auto;
 

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f28c28;

   
    

}


#page-content{
    width:80%;
    height: auto;
 
    background-color: #ffbe45ef;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#grocery-results{
    width:60%;
    height: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 225, 181, 0.671);

  
}

#configuration-section{
   width:60%;
   min-height: 30vh;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 225, 181, 0.671);

}

#configuration-details-container{
   width:100%;
   height: 70%;

   display:flex;
   justify-content: center;
   align-items: center;

 


}

#configuration-priority{
   width:50%;
   height: 100%;
   display:flex;
   justify-content: center;
   align-items: center;



}

#configuration-location{
   width:50%;
   height: 100%;
   display:flex;
   justify-content: center;
   align-items: center;

 
}


#button-container{
   width:100%;
   height: 30%;

   display:flex;
   justify-content: center;
   align-items: center;

  
}

/* Accordion */
.accordion{
    width:100%;
    height:auto;
    margin-bottom: 2vh;
    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.accordion:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.accordion-bttn{
   display:block;
   width:100%;
   min-height:auto;
   height:8vh;
   border: none;
   outline: none;
   cursor: pointer;
   background-color: lightgray;
   color:black;
   text-align:left;
   /*transition: background 0.2s;*/
}

.accordion-bttn::after{
   content: '\25be';
   float: right;
   transform: scale (1.5);
}

.accordion-bttn--active{
   background-color: #55555555;
}

.accordion-bttn--active::after{
   content: '\25b4';
   float: right;
   transform: scale (1.5);
}

.accordion-content{
   overflow:hidden;
   max-height:0;
   transition:max-height 0.2s;
   background-color: white;
}
