*{
    margin:0;
}

/*
#content{
    width:100vw;
    height:auto;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
    border:0.5px solid black;

}

#section-title{
    width:100%;
    height:15vh;
}
*/

    


/*
#section-steps{
    width:100%;
    height:auto;

    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    border:0.5px solid black;
}

.section-steps-child{
    margin:5vh 0 5vh 0;
    width:30%;
    height:40vh;
    border:0.5px solid black;
}

#section-button{
    width:100%;
    height:auto;

    display:flex;
    justify-content: center;
    align-items: center;
    
    border:0.5px solid black;
}

*/




button{
    margin:5vh 0 5vh 0;
    height:5vh;
}

#content{
    background-color: #f28c28;
    width:80vw;
    display:flex;
    
    min-width:1260px;
    margin:auto;
    justify-content: space-around;
    /*
    background-color: #f28c28;
    width:auto;
    height: auto;
    min-width: fit-content;
    min-height: fit-content;
    max-width: max-content;
    margin-left:1cm;
    margin-right:.5cm;
    margin-top:.5cm;
    margin-bottom: .5cm;
    display: flex;
    */
    
    /* border-radius: 10px; */

}

#contentwrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
}

/*contains transparent logo, "browsing your local..." text */
#welcome-block{
    background-color:rgba(255, 225, 181, .671);
    border-radius: 10px;
    margin-right: auto;
    margin-left:auto;
    align-items:center;
    display: inline-flex;
    width: 40vw;
    height:fit-content;
    min-height:min-content;
    min-width:fit-content;
    margin-top:3vh;
    /*
    display:flex;
    justify-content:center;
    align-items:flex-start;
    */
}

#companyLogo{
    height: 6cm;
    width: 4.5cm;
    margin-left:1cm;
    margin-right:1cm;
    margin-bottom:1cm;
    display:flex;
}

/* Browse your local grocery store without needing to leave your home!*/

#text1{
    margin-top:.5cm;
}

#text1TopPara{
    margin-top:1cm;
}

.welcome-block-text-1{
    color:black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma Verdana, sans-serif;
    text-align: center;
    margin-right:3vw;
    margin-left:3vw;
}

/*Simply enter the items you want to find.....tell you where you can get the best deals!*/

.welcome-block-text-2{
    color:black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align:center;
    margin-right:3vw;
    margin-bottom: 2vh;

}

/*Right menu with participating grocery logos*/

#finditems{
    margin-top:1cm;
}

#groceryLogoBlock{

    background-color:rgba(255, 225, 181, 0.671);
    border-radius: 10px;
    width: 30vw;
    flex-direction: column;
    display: flex;
    margin-top:3vh;
    min-width: fit-content;
    justify-content:space-evenly;
    

    /*
    
    
    margin-right: auto;
    margin-left:1cm;
    
    
    
    flex-wrap: wrap;
    
    height:fit-content;
    min-height:min-content;

    align-items:center;
    */
}

.companyLogos{
    width:fit-content;
    height:20vh;
    margin-left:auto;
    margin-right:auto;

}

/* Get Started prompt div contents*/



/*Code to transform FreshVeg.jpg opaque on hover and produce link to create an account or list*/

.transform:hover .image{
    opacity: 0.3;
}

.transform:hover .imgTransform{
    opacity:1;
}

#vegbackground{
    width: 40vw;
    min-width: 40vw;
    border-radius: inherit;

}

.image{
    transition: .5s ease;
    opacity:1;
    filter:brightness(.5);
    min-width:40vw;
}

#imageContainer{
    border-radius:10px;
    width:40vw;
    min-width: 40vw;
    height:auto;
    margin-top: 1cm;
    display: flex;
    background-color: black;
}

.imgTransform{
    transition: .5s ease;
    opacity:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position:absolute;
    text-decoration: none;
    margin-top:28vh;
    margin-left:20vw;
    

     /*
    
    margin-top: 6.1cm;
    margin-right:1cm;
    margin-left:9cm;

    border-radius:10px;
    
    width: 10cm;
    text-align: center;
    position:absolute;
    
    display:grid  ;
    
    */

}

#hoverLink{

    background-color: rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 32px;

   
}

/*
#imgText{
    background-color: blueviolet;
    width:20cm;
    height:10cm;
}
*/

#hoverText{
    
    
    background-color: black;
    

    /*
    margin-top: 4cm;
    margin-right:6cm;
    margin-left:6cm;
    */
    width: inherit;
    position:absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    display:inline-block;
    font-size: 30px;

}




.hover{
    
    box-shadow: 0px 0px 20px #ffbe45ef;
    align-items: center;
}
/* end transformation code*/

/*
#getStartedonClick-container{
    align-items:center;
    display: flex;
    justify-content: center;
    background-color: chartreuse;

}

*/

/* This section controls css for infographic below create a list button */

#infograph{
    margin-top: 1cm;
    background-color: rgba(255, 225, 181, 0.671);
    width:40vw;
    min-width:fit-content;
    height: fit-content; /* 35 cm */
    border-radius: 10px;
}


.info-section{
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    width: 35vw;
    min-width:fit-content;
    height: auto;
    flex-shrink:0;
    
}

.info-image{

    height:250px;
    width: 250px;



   /*20vh x 10vw*/ 
}

.info-text{

    font-size: 18px;
    margin-right:1cm;
    margin-left:1cm;
    margin-top:40px;
    text-align: center;

    /*
    height:10cm;
    width:18cm;
    color: black;
    
    
    padding: 110px 70px 25px 60px;
    */
}

#info-section-1{
    display: inline-flex;
    justify-content: space-between;
}

#info-section-2{
    display: inline-flex;
    justify-content: space-between;
    
}

#info-aisle-photo{
    margin-left:110px;
    position:relative;
}

#info-section-3{
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
}
