{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\aboutus.css' %}?{% now "U" %}">

{% endblock %}
{% block title %}About Us{% endblock %}

{% block content %}

    <div id="content">
        <div class="block" id="mission-statement">
            <p class="text-header-properties"> MISSION STATEMENT</p>
            <p class="text-properties" id="mission-statement-text">
                Smart Shopper is an online grocery catalog that helps the savvy customer maximize
                their spending budget with just the tap of a button. With 22 grocery locations nationwide and over 20,000 products
                we provide a large selection of items our users can browse to create their shopping lists, whether its a few items
                for a weekday dinner or preparation for a big event. We want to help our users maximize their dollar in the 
                grocery stores, minus the runarounds.
            </p>

        </div>

        <div class="block-2" id="FAQ">
            <p class="text-header-properties">FREQUENTLY ASKED QUESTIONS</p>
            

            <p class="text-properties-questions">Q: Why don't I see certain grocery stores listed here?</p>

            <p class="text-properties" id="FAQ-text">A: We select groceries to display based on the data that is available to us on the web, therefore
                groceries that do not have a significant online presence are not available at this time. </p>

            <p class="text-properties-questions">Q: Can I purchase items directly off of your site?</p>

            <p class="text-properties" id="FAQ-text">A: Purchases can only be made in store, or via online retailers where applicable. We do not offer
                any items or services for sale, and so will never ask for any financial information from you.</p>

            <p class="text-properties-questions">Q: Are the prices and brands I see on Smart Shopper the same as instore?</p>

            <p class="text-properties" id="FAQ-text"> A: All items and prices on Smart Shopper are extracted from the retailers' websites. We cannot make any guarantees
                about instore pricing and availability, as they are always subject to be changed without notice. 
                The information on our website should therefore only be used as an estimate, and if you have any further queries
                 we would advise you contact the store for more details.</p>
        </div>
        
    </div>      

{% endblock %}