{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\accountsstyle.css' %}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\editusermodal.css' %}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\changepasswordmodal.css' %}?{% now "U" %}">
{% endblock %}
{% block title %}My Account{% endblock %}

{% block content %}
    <div id="content">

        <div id="account-content-container">


            <h1> My Account </h1>

            {% if user.is_authenticated %}
            <div id="account-details-container">
                <div class="row form-group view-details">
                    <div class="col">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.first_name}}" disabled>
                    </div>
                    <div class="col">
                        <label for="lastname">Last Name</label>
                        <input type="text"class="form-control" id="lastname" name="lastname" value="{{user.last_name}}" disabled>
                    </div>
                  </div>

                  <div class="form-group view-details">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" disabled >
                </div>
                <div class="form-group view-details">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" disabled>
                </div>

            </div>
            {% endif %}
      
            <div id="account-button-containers">
                <div id="edit-button-container " class="button-containers">
                    <button id="editdetailsbutton" type="button" class="btn btn-primary">Edit Details</button>
                </div>

                <div id="change-password-button-container" class="button-containers">
                    <button id="changepasswordbutton" type="button" class="btn btn-primary">Change Password</button>
                </div>

                <div id="delete-button-container" class="button-containers">
                    <button type="button" class="btn btn-danger" onclick="window.location.href='/DeleteAccount/'">Delete Account</button>
                </div>
            </div>
        </div>


        <div class="edit-details-modal-container" id="edit-details-modal-container-id">
            <div id="edit-details-modal">
                <h1> Edit Account Details</h1>
                <div id="edit-details-content-container">

                    <form id="edit-details-form" action="/EditUserDetails/" method="POST">
                        {% csrf_token %}
                        <div id="edit-details-form-user-details-container">
                            <div class="row form-group edit-details">
                                <div class="col">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.first_name}}" >
                                </div>
                                <div class="col">
                                    <label for="lastname">Last Name</label>
                                    <input type="text"class="form-control" id="lastname" name="lastname" value="{{user.last_name}}">
                                </div>
                              </div>
            
                              <div class="form-group edit-details">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
                            </div>
                            <div class="form-group edit-details">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" >
                            </div>
                        </div>
                        
                        <div id="edit-details-submit-button-container">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                        
                    </form>


                    <div id="edit-details-back-button-container">
                            <button type="button" id="edit-details-back-button" class="btn btn-primary">Back</button>
                     </div>
                   

                    
 

                </div>

            </div>

        </div>

        <div class="change-password-modal-container" id="change-password-modal-container-id">
            <div id="change-password-modal">
                <h1> Change Password</h1>
                <div id="change-password-content-container">

                    <form id="change-password-form" action="/ChangeUserPassword/" method="POST">
                        {% csrf_token %}
        

                            <div class="form-group edit-password">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="****" required>
                            </div>
                     
                                                       
                            <div id="change-password-submit-button-container">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>             
                    </form>

                    <div id="change-password-back-button-container">
                        <button type="button" class="btn btn-primary" id="change-password-back-button">Back</button>
                    </div>

                </div>

   
            </div>
        </div>
        

        <script>
            const edit_details_open = document.getElementById('editdetailsbutton')
            const edit_details_modal_container = document.getElementById('edit-details-modal-container-id')
            const edit_details_close = document.getElementById('edit-details-back-button')
    
            edit_details_open.addEventListener('click',() => {
                edit_details_modal_container.classList.add('show')
            })
    
            edit_details_close.addEventListener('click',() => {
                edit_details_modal_container.classList.remove('show')
            })
        </script>

        <script>
            const change_password_open = document.getElementById('changepasswordbutton')
            const change_password_modal_container = document.getElementById('change-password-modal-container-id')
            const change_password_close = document.getElementById('change-password-back-button')
    
            change_password_open.addEventListener('click',() => {
                change_password_modal_container.classList.add('show')
            })
    
            change_password_close.addEventListener('click',() => {
                change_password_modal_container.classList.remove('show')
            })
        </script>
    

    </div>
{% endblock %}