{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\cataloguestyle.css'%}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\confirmlistmodal.css'%}?{% now "U" %}">

{% endblock %}
{% block title %}Cataloge:{% endblock %} <!--Send category to front for diplay-->

{% block content %}
    <div id="content"> 

        <div id="section-category-list">

<!--             <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/All">All</a></button>
                <div class="accordion-content">
                </div>
            </div> -->

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Bread & Bakery">Bread & Bakery</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Breads, Rolls & Buns">Breads, Rolls & Buns</a></li>
                        <li><a href="/Catalogue/SubCategory/Baked Goods & Treats">Baked Goods & Treats</a></li>
                        <li><a href="/Catalogue/SubCategory/Flatbreads">Flatbreads</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Beverages">Beverages</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Alcohol">Alcohol</a></li>
                        <li><a href="/Catalogue/SubCategory/Beers & Wines">Beers & Wines</a></li>
                        <li><a href="/Catalogue/SubCategory/Coffee & Tea">Coffee & Tea</a></li>
                        <li><a href="/Catalogue/SubCategory/Drink Mixes">Drink Mixes</a></li>
                        <li><a href="/Catalogue/SubCategory/Juice">Juices</a></li>
                        <li><a href="/Catalogue/SubCategory/Punches & Nutritional Supplements">Punches & Nutritional Supplements </a></li>
                        <li><a href="/Catalogue/SubCategory/Soft Drinks">Soft Drinks</a></li>
                        <li><a href="/Catalogue/SubCategory/Sports & Energy Drinks">Sports & Energy Drinks</a></li>
                        <li><a href="/Catalogue/SubCategory/Still & Sparkling Water">Still & Sparkling Water</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Dairy, Cheese & Eggs">Dairy, Cheese & Eggs</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Butter & Margarine">Butter & Margarine</a></li>
                        <li><a href="/Catalogue/SubCategory/Cheese">Cheese</a></li>
                        <li><a href="/Catalogue/SubCategory/Spreads & Dips">Spreads & Dips</a></li>
                        <li><a href="/Catalogue/SubCategory/Eggs & Egg Substitutes">Eggs &  Eggs Substitutes</a></li>
                        <li><a href="/Catalogue/SubCategory/Milk & Cream">Milk & Cream</a></li>
                        <li><a href="/Catalogue/SubCategory/Non-Dairy Milks">Non-Dairy Milks</a></li>
                        <li><a href="/Catalogue/SubCategory/Yogurt">Yogurt</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Fresh Produce">Fresh Produce</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Fruits">Fruits</a></li>
                        <li><a href="/Catalogue/SubCategory/Vegetables">Vegetables</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Frozen Foods">Frozen Foods</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Frozen Meals">Frozen Meals</a></li>
                        <li><a href="/Catalogue/SubCategory/Ice Cream & Desserts">Ice Cream & Desserts</a></li>                   
                        <li><a href="/Catalogue/SubCategory/Frozen Produce">Frozen Produce</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Health & Household">Health & Household</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Household Items">Household Items</a></li>
                        <li><a href="/Catalogue/SubCategory/Personal Care">Personal Care</a></li>
                        <li><a href="/Catalogue/SubCategory/Baby Essentials">Baby Essenntials</a></li>
                        <li><a href="/Catalogue/SubCategory/Pet Supplies">Pet Supplies</a></li>
                        <li><a href="/Catalogue/SubCategory/Automotive">Automotive</a></li>
                        <li><a href="/Catalogue/SubCategory/Appliances & Electronics">Appliances & Electronics</a></li>
                        <li><a href="/Catalogue/SubCategory/Pharmacy">Pharmacy</a></li>
                        <li><a href="/Catalogue/SubCategory/Cleaning Supplies">Cleaning Supplies</a></li>
                        <li><a href="/Catalogue/SubCategory/Candles & Incense">Candles & Incense</a></li>
                        <li><a href="/Catalogue/SubCategory/Dental Care">Dental Care</a></li>
                        <li><a href="/Catalogue/SubCategory/Gardening">Gardening</a></li>
                        <li><a href="/Catalogue/SubCategory/Insecticides">Insecticides</a></li>
                        <li><a href="/Catalogue/SubCategory/Kids">Kids</a></li>
                        <li><a href="/Catalogue/SubCategory/Newspapers & More">Newspapers & More</a></li>
                        <li><a href="/Catalogue/SubCategory/Party Supplies">Party Supplies</a></li>
                        <li><a href="/Catalogue/SubCategory/Stationery">Stationery</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Meat & Seafood">Meat & Seafood</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Meat Products">Meat Products</a></li>
                        <li><a href="/Catalogue/SubCategory/Deli Meats">Deli Meats</a></li>
                        <li><a href="/Catalogue/SubCategory/Ham Sausage">Ham & Sausage</a></li>
                        <li><a href="/Catalogue/SubCategory/Sea Food">Seafood</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Pantry">Pantry</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Peas & Beans">Peas & Beans</a></li>
                        <li><a href="/Catalogue/SubCategory/Canned Foods">Canned Foods</a></li>
                        <li><a href="/Catalogue/SubCategory/Baking Supplies">Baking Supplies</a></li>
                        <li><a href="/Catalogue/SubCategory/Cooking Oils & Sprays">Cooking Oils & Sprays</a></li>
                        <li><a href="/Catalogue/SubCategory/Sauces & Condiments">Sauces & Condiments</a></li>
                        <li><a href="/Catalogue/SubCategory/Rice, Pasta & Flour">Rice, Pasta & Flour</a></li>
                        <li><a href="/Catalogue/SubCategory/Spices & Seasonings">Spices & Seasonings</a></li>
                        <li><a href="/Catalogue/SubCategory/Dried & Instant Foods">Dried & Instant Foods</a></li>
                        <li><a href="/Catalogue/SubCategory/Cereals & Grains">Cereal & Grains</a></li>
                    </ul>
                </div>
            </div>

            <div class="accordion">
                <button type="button" class="accordion-bttn"><a href="/Catalogue/Category/Snacks">Snacks</a></button>
                <div class="accordion-content">
                    <ul>
                        <li><a href="/Catalogue/SubCategory/Chips & Crackers">Chips & Crackers</a></li>
                        <li><a href="/Catalogue/SubCategory/Nuts & Dried Fruits">Nuts & Dried Fruit</a></li>
                        <li><a href="/Catalogue/SubCategory/Candy & Chocolates">Candy & Chocolates</a></li>
                        <li><a href="/Catalogue/SubCategory/Cookies, Biscuits & Wafers">Cookies, Biscuits & Wafers</a></li>
                        <li><a href="/Catalogue/SubCategory/Puddings, Gelatin">Puddings, Gelatin</a></li>
                    </ul>
                </div>
            </div>
            

           
            <!--Delete-->

        </div>

        <div id="section-catalogue">

            {% if products != None %}

                {% for product in products %}
                    <div class="catalogue-items">
                        <div class="catalogue-items-image-container">
                            <img src="{{product.image}}" class="catalogue-item-image">
                        </div>
                        <div class="catalogue-items-content-container">
                            <p>{{product.full_item_name}}</p>
                        </div>
                        <form id="catalogue-item-form" action="/AddProductToList/" method="POST">
                            {% csrf_token %}

                            <div>
                                <label for="quantity">Quantity:</label>
                                <input type="number" id="product_quantity" name="product_quantity" min="0" value="1">
                            </div>

                            <div>
                                <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
                            </div>

                            <div class="catalogue-items-button-container">
                                <button type="submit">Add To Cart</button>
                            </div>
                        </form>
                        
                    </div>
                {% endfor %}
            {% else %}

            {% endif %}
           
        </div>

        <div id="section-cart">

            <div id="items-section">

                {% if listitems != None %}
                
                    {% for listitem in listitems %}
                        <div class="cart-items">
                            <div class="cart-items-image-container">
                                <img src="{{listitem.product.image}}">
                            </div>

                            <div class="cart-items-content-container">
                                <div class="cart-items-description">
                                    <p>{{listitem.product.full_item_name}}</p>
                                </div>
                                <form class="cart-items-form">

                                    <div>
                                        <label for="quantity">Quantity:</label>
                                        <input type="number" id="product_quantity" name="product_quantity" min="0" value="{{listitem.item_quantity}}">
                                    </div>

                                    <div class="form-button-container">
                                        <button>Update</button>
                                        <button  onclick="window.location.href='/DeleteProductFromList/{{listitem.product.id}}/'">Remove</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>

                    {% endfor %}

                {% else %}
                        <p>Cart is Empty</p>
                {% endif %}             

            </div>

            <div id="button-section">
                <button id="completebutton">Complete List!</button>
            </div>

        <div class="confirm-list-modal-container" id="confirm-list-modal-container-id">
            <div id="confirm-list-modal">
                <h1> Confirm Cart Items</h1>
                <div id="confirm-list-content-container">

                </div>

                <div id="confirm-list-button-container">
                    <button id="confirm-list-back-button">Back</button>
                    <button onclick="window.location.href='/ConfigureResults/'" id="confirm-list-next-button">Next</button>
                </div>

            </div>
        </div>


        </div>
    </div>

    <script>
        const open = document.getElementById('completebutton')
        const modal_container = document.getElementById('confirm-list-modal-container-id')
        const close = document.getElementById('confirm-list-back-button')

        open.addEventListener('click',() => {
            modal_container.classList.add('show')
        })

        close.addEventListener('click',() => {
            modal_container.classList.remove('show')
        })
    </script>

    <script>
        document.querySelectorAll('.accordion-bttn').forEach(button =>{
            button.addEventListener('click',()=>{
                const accoridionContent = button.nextElementSibling;

                button.classList.toggle('accordion-bttn--active');
                //button.classList.toggle('accordion-button--active');

                if (button.classList.contains('accordion-bttn--active')){
                    accoridionContent.style.maxHeight = accoridionContent.scrollHeight + 'px';
                }else{
                    accoridionContent.style.maxHeight = 0;
                }
            })
        })
    </script>
{% endblock %}