{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\cataloguestyle.css'%}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\confirmlistmodal.css'%}?{% now "U" %}">

{% endblock %}
{% block title %}Cataloge:{% endblock %} <!--Send category to front for diplay-->

{% block content %}
    <div id="content"> 

        <div id="section-category-list">

            <!--Delete-->
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <!--Delete-->

        </div>

        <div id="section-catalogue">
            
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
           
        </div>

        <div id="section-cart">

            <div id="items-section">

                <div></div>

                
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">
                    <p>Item</p>
                </div>
                

            </div>

            <div id="button-section">
                <button id="completebutton">Complete List!</button>
            </div>

        <div class="confirm-list-modal-container" id="confirm-list-modal-container-id">
            <div id="confirm-list-modal">
                <h1> Confirm Cart Items</h1>
                <div id="confirm-list-content-container">

                </div>

                <div id="confirm-list-button-container">
                    <button id="confirm-list-back-button">Back</button>
                    <button id="confirm-list-next-button">Next</button>
                </div>

            </div>
        </div>


        </div>
    </div>

    <script>
        const open = document.getElementById('completebutton')
        const modal_container = document.getElementById('confirm-list-modal-container-id')
        const close = document.getElementById('confirm-list-back-button')

        open.addEventListener('click',() => {
            modal_container.classList.add('show')
        })

        close.addEventListener('click',() => {
            modal_container.classList.remove('show')
        })

   
    </script>
{% endblock %}