{% extends "basetemplate1.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\createliststyle.css' %}?{% now "U" %}">

{% endblock %}

{% block title %}Create List :: Smart Shopper{% endblock %}

{% block content %}

    <div id="content">
        <div id="section-create-list" class="content-child">

            <h1>Create a new List</h1>

            

            <form id="create-list-form" action="/CreateList/" method="POST">
                {% csrf_token %}
                <div class="form-group" id="create-list-listname-container">
                    <label for="listname">Name of List:</label>
                    <input type="text" class="form-control" name="listname" id="listname" placeholder="Name of List" required>

                </div>

                <div class="form-group" id="create-list-description-container">
                    <label for="description">Description:</label>
                    <input type="textarea" class="form-control" name="description" id="description" placeholder="Description (optional)">
                </div>
                  
<!--                 <div id="create-list-listname-container">
                    <label for="listname">Name of List:</label>
                    <input type="text" name="listname" id="listname" placeholder="Name of List" required>
                </div>

                <div id="create-list-description-container">
                    <label for="description">Description:</label>
                    <input type="textarea" name="description" id="description" placeholder="Description (optional)">
                </div> -->

                <div id="create-list-button-container">
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
            
                    <button onclick="window.location.href='/'" class="btn btn-primary"> Go Back </button>
                </div>
    
            </form>
        </div>



        <div id="section-display-options" class="content-child">

            {% if user.is_authenticated %}
            
                
            <div id="section-display-lists">

                <h1> Your Lists</h1>
                {% if lists != None %}
                
                <table id="list-table">
                    <tr>
                        <th>Name</th>
                        <th>Select List</th>
                    </tr>
        
                    
                        {% for list in lists %}
                            <tr>
                                <td>{{list.name}}</td>
                                <td><button onclick="window.location.href='/SelectList/{{list.id}}/'"type="button" class="btn btn-primary"><i class="large material-icons">done</i></button></td> 
                            </tr>
                        {% endfor %}
                </table>
                    
            </div>
            {% else %}
                    <p>Lists Empty</p>
            {% endif %}

            {% else %}

            <div id="section-login-signup">
                <h1>Already have an account?</h1>

                <button class="btn btn-primary"> <a href="/Login/">Login!</a></button>

                <h1>Don't want to miss out on great deals?</h1>

                <button class="btn btn-primary"> <a href="/SignUp">Create An Account!</a></button>
            </div>


            {% endif %}


        </div>
    </div>
{% endblock %}