{% extends "basetemplate1.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\createliststyle.css' %}?{% now "U" %}">

{% endblock %}

{% block title %}Create List{% endblock %}

{% block content %}

    <div id="content">
        <div id="section-create-list" class="content-child">

            <h1>Create a new List</h1>
      <!--       <p>{{firstname}}</p> -->
            

            <form action="/CreateList/" method="POST">
                {% csrf_token %}

                <input type="text" name="listname" id="listname" placeholder="Name of List" required>

                <input type="textarea" name="description" id="description" placeholder="Description (optional)">

                <button type="submit">Save and Continue</button>

               <!--<button onclick="window.location.href='/SelectCategory/'"> Save and Continue </button>-->
            
                <button onclick="window.location.href='/'"> Go Back </button>
            </form>
        </div>

        <!---->

        <div id="section-display-options" class="content-child">

            <div id="section-login-signup">
                <h1>Already have an account?</h1>

                <button> <a href="/Login/">Login!</a></button>

                <h1>Don't want to miss out on great deals?</h1>

                <button> <a href="/SignUp">Create An Account!</a></button>
            </div>

            <!-- Optional Code Below Here-->
            <!--
            <div id="section-display-lists">

            </div>
            -->

        </div>
    </div>
{% endblock %}