{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\displaylistsstyle.css' %}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\editlistmodal.css' %}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\viewitemsmodal.css' %}?{% now "U" %}">

{% endblock %}
{% block title %}My Lists :: Smart Shopper{% endblock %}

{% block content %}
    <div id="content">

        <h1>My Lists</h1>

        <div id="list-table-container">
        {% if lists != None %}
        <table id="list-table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Date Created</th>
                <th>Options</th>
            </tr>

            
                {% for list in lists %}
                    <tr>
                        <td>{{list.name}}</td>
                        <td>{{list.description}}</td>
                        {% if list.is_Active == True %}
                            <td>&#10003;</td>
                        {% else %}
                            <td>&#9587;</td>
                        {% endif %}
                        <td>{{list.date_created}}</td>
                        <td><button onclick="window.location.href='/ViewListItems/{{list.id}}/'" type="button" class="btn btn-primary"><i class="large material-icons">visibility</i></button></td> 
                        <td><button onclick="window.location.href='/MakeListActive/{{list.id}}/'" type="button" class="btn btn-primary"><i class="large material-icons">done</i></button></td> 
                        <td><button onclick="window.location.href='/EditList/{{list.id}}/'" type="button" class="btn btn-primary"><i class="large material-icons">edit</i></button></td> 
                        <td><button onclick="window.location.href='/DeleteList/{{list.id}}/'" type="button" class="btn btn-danger"><i class="large material-icons">delete</i></button></td>
                    </tr>
                {% endfor %}
        </table>
       
        </div>
        {% else %}
            <div id="list-empty-container">
                <p>List Empty</p>
            </div>
                    
        {% endif %}

        <div id="create-list-button-container">
            <button onclick="window.location.href='/CreateList/'" type="button" class="btn btn-primary">Create List</button>
        </div>

        {% if listtoedit != None %}
            <div class="edit-list-modal-container" id="edit-list-modal-container-id">
                <div id="edit-list-modal">
                    <h1> Edit List Details</h1>
                    <div id="edit-list-content-container">
                        <form class="edit-list-modal-form" action="/EditList/{{listtoedit.id}}/" method="POST">
                            {% csrf_token %}

                   
                                <div class="edit-list-modal-form-name-container form-group"> 
                                    <label for="listname">Name of List:</label>
                                    <input type="text" name="listname" id="listname" class="form-control" value="{{listtoedit.name}}" required>
                                </div>
            
                                <div class="edit-list-modal-form-description-container form-group">
                                    <label for="description">Description:</label>
                                    <input type="textarea" name="description" id="description" class="form-control" value="{{listtoedit.description}}">
                                </div>
                           
                      
                      

                            <div class="edit-list-modal-form-submit-button-container">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                            
                        </form>

                        <div class="edit-list-modal-form-back-button-container">
                            <button type="button" id="edit-list-back-button" class="btn btn-primary">Back</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endif %}

        {% if listitems != None %}
        <div class="view-list-modal-container" id="view-list-modal-container-id">
            <div id="view-list-modal">
                <h1> List Items</h1>
                <div id="view-list-content-container">

                    {% if listitems != None %}

                        {% for listitem in listitems %}
                            <div class="view-list-item-container">
                                <form class="view-list-form" action="/MyLists/UpdateItem/" method="POST">
                                    {% csrf_token %}


                                <div class="view-list-item-image-container">
                                    <img src="{{listitem.product.image}}">
                                </div>

                                <div class="view-list-item-content-container">
                                    <div>
                                        <p>{{listitem.product.full_item_name}}</p>
                                    </div>
                                    <div>
                                        <label for="quantity">Quantity:</label>
                                        <input type="number" class="form-control" id="product_quantity" name="product_quantity" min="0" value="{{listitem.item_quantity}}" required>
                                        <input type="hidden" id="product_id" name="product_id" value="{{listitem.product.id}}">
                                        <input type="hidden" id="list_id" name="list_id" value="{{listitem.list.id}}">
                                    </div>
                                </div>
                                <div class = "view-list-item-button-container">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button  type="button" onclick="window.location.href='/MyLists/RemoveItem/{{listitem.list.id}}/{{listitem.product.id}}/'" class="btn btn-primary">Remove</button>
                                </div>

                                </form>

                            </div>
                        {% endfor %}

                    {% else %}
                        <p>Cart is Empty</p>
                    {% endif %}

                </div>

                <div id="view-list-back-button-container">
                    <button type="button" id="view-list-back-button" class="btn btn-primary">Back</button>
                </div>

            </div>
        </div>

        {% endif %}
    
        
    </div>
    <script>
        const modal_container = document.getElementById('edit-list-modal-container-id')
        const close = document.getElementById('edit-list-back-button')

        modal_container.classList.add('show')

        close.addEventListener('click',() => {
            modal_container.classList.remove('show')
        })
    </script>

    <script>
        const view_list_modal_container = document.getElementById('view-list-modal-container-id')
        const view_list_close = document.getElementById('view-list-back-button')

        view_list_modal_container.classList.add('show')

        view_list_close.addEventListener('click',() => {
            view_list_modal_container.classList.remove('show')
        })
    </script>
{% endblock %}