{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\loginstyle.css' %}?{% now "U" %}">

{% endblock %}
{% block title %}Login :: Smart Shopper{% endblock %}

{% block content %}
    <div id="content">

        <div id="login-form-container">

            <h1> Login </h1>

        <form id="login-form" action="/Login/" method="POST">
            {% csrf_token %}
            <div id="login-form-username-container" class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required >
            </div>

            <div id="login-form-password-container" class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="****" required>
            </div>

            <p>Don't have an account? <a href="/SignUp/">SignUp!</a></p>

            <button type="submit" class="btn btn-primary">Login!</button>
        </form>
    </div>


    <div id="login-image-container">
        {% load static %}
        <img id="login-logo"src="{% static 'images/trans_logo.PNG' %}" alt="">
    </div>

    </div>
{% endblock %}