{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\cataloguestyle.css' %}">-->

{% endblock %}
{% block title %}Category :: Smart Shopper{% endblock %} <!--Send category to front for diplay-->

{% block content %}
    <div id="content"> 

        <div id="section-category-list">

            <!--Delete-->
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <div class="links-container">
                <a href="" class="category-links">Category</a>
            </div>
            <!--Delete-->

        </div>

        <div id="section-catalogue">
            <!--Delete-->
            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>

            <div class="catalogue-items">
                <p>Item</p>
            </div>
            <!--Delete-->
        </div>

        <div id="section-cart">

            <div id="items-section">

                <!--Delete-->
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <div class="cart-items">

                </div>
                <!--Delete-->

            </div>

            <div id="button-section">
                <button>Complete List!</button>
            </div>

        </div>
    </div>
{% endblock %}