{% extends "basetemplate1.html" %}
{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets\selectcategory.css' %}?{% now "U" %}">

{% endblock %}
{% block title %}Select Category{% endblock %}

{% block content %}
    <div id="content">
        <div id="categorysection">

            <h1>Select a category</h1>

            <div id="gridcontainer">

                <!--Delete-->

<!--                 <div class="grid-items">
                    <a href="/Catalogue/All">All</a>
                </div> -->

                <div class="grid-items">
                    <a href="/Catalogue/Category/Bread & Bakery">Bread & Bakery</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Beverages">Beverages</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Dairy, Cheese & Eggs">Dairy, Cheese & Eggs</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Fresh Produce">Fresh Produce</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Frozen Foods">Frozen Foods</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Health & Household">Health & Household</a>
                </div>
                <div class="grid-items">
                    <a href="//Catalogue/Category/Meat & Seafood">Meat & Seafood</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Pantry">Pantry</a>
                </div>
                <div class="grid-items">
                    <a href="/Catalogue/Category/Snacks">Snacks</a>
                </div>
                <!--Delete-->
            </div>

        </div>

        <div id="participatinggroceries">

            <h1>Participating Groceries</h1>

            <div id="flexboxcontainer">

                <div class="flexbox-items">

                </div>

                <div class="flexbox-items">

                </div>

                <div class="flexbox-items">

                </div>

                <div class="flexbox-items">

                </div>
                <div class="flexbox-items">

                </div>
                <div class="flexbox-items">

                </div>

            </div>
        </div>
    </div>
{% endblock %}
